body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tags_container {
  width: 50%;
  padding: 3%;
}

input {
  width: 70%;
  border: none;
  outline: none;
  font-size: 1em;
  padding-left: 20px;
}

button {
  font-size: 1em;
  border: none;
  background: gary;
  color:white;
  transition: 0.6s;
  outline: none;
}

button:hover {
  background: gray;
  color: white;
}

.form_button {
  width: 30%;
}

.back_button {
   padding: .4em;
   border-radius: 10px;
}

.result_container {
  width: calc(100vw - 6vh);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vh;
  padding: 3vh;
  height: 90vh;
}

.result_item {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 50%;
  height: 40px;
  box-shadow: 5px 10px 18px gray;
  display: flex;
}

.topbar {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: center;
}

.show_container {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 20% 80%;
}

.show_container_left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10vh;
}

.show_container_right {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 40px;
}

.red {
  color: red;
}

.tag {
  margin-top: .3rem;
}
